<div class="container">
    <app-header></app-header>
    <main>
        <div class="section-1">
            <div class="image">
                <img src="assets/images/about achievements.svg" alt="img1">
            </div>
            <div class="body">
                <h2>Achievements</h2>
                <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                    soluta iusto voluptates nsisi quas est !
                </p>
                <div class="cards">
                    <div class="card">
                        <div class="icon">
                            <em class="uil uil-video"></em>
                        </div>
                        <h3>450+</h3>
                        <h5>Courses</h5>
                    </div>
                    <div class="card">
                        <div class="icon">
                            <em class="uil uil-video"></em>
                        </div>
                        <h3>450+</h3>
                        <h5>Courses</h5>
                    </div>
                    <div class="card">
                        <div class="icon">
                            <em class="uil uil-video"></em>
                        </div>
                        <h3>450+</h3>
                        <h5>Courses</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <h2>Meet Our Team</h2>
            <div class="teams">
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm1.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm2.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm3.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm4.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm5.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>

                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm6.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm7.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm8.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm9.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
                <div class="team">
                    <div class="profile">
                        <img src="assets/images/tm10.jpg" alt="tm1">
                    </div>
                   <h4>Shatta Wale</h4>
                   <p>Expert Tutor</p>
                   <div class="social">
                    <em class="uil uil-facebook-f"></em>
                    <em class="uil uil-instagram"></em>
                    <em class="uil uil-twitter-alt"></em>
                    <em class="uil uil-linkedin"></em>
                   </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>