<div class="container">
    <app-header></app-header>
    <main>
        <div class="section-1">
            <div class="text">
                <h3>Grow your skills to advance your career path </h3>
                <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                    soluta iusto voluptates nsisi quas est !
                </p>
                <button class="btn btn-danger">Get Started</button>
            </div>
            <div class="image">
                <img src="assets/images/header.svg" alt="img1">
            </div>   
        </div>
        <div class="section-2">
            <div class="category">
                <div class="left">
                    <h3>Categories</h3>
                    <p>Lorean ipsum dolor sit annet consecteur, adipcising elit. Harun tenteur aut 
                        qui explicabo modi lpsa optio, fugiat annet quia Quisquam neque simlilque quas 
                        optiol  
                    </p>
                    <button class="btn btn-white">Learn More</button>
                </div>
                <div class="right">
                    <div class="categorie">
                        <div class="icon">
                            <em class="uil uil-airplay"></em>
                        </div>
                       
                        <h4>Blockchain</h4>
                        <p>Loren ipsum dolor sit amet consecteur, elit temporibus qui .</p>
                    </div>
                    <div class="categorie">
                        <div class="icon">
                            <em class="uil uil-airplay"></em>
                        </div>
                        <h4>Blockchain</h4>
                        <p>Loren ipsum dolor sit amet consecteur, elit temporibus qui .</p>
                    </div>
                    <div class="categorie">
                        <div class="icon">
                            <em class="uil uil-airplay"></em>
                        </div>
                        <h4>Blockchain</h4>
                        <p>Loren ipsum dolor sit amet consecteur, elit temporibus qui .</p>
                    </div>
                    <div class="categorie">
                        <div class="icon">
                            <em class="uil uil-airplay"></em>
                        </div>
                        <h4>Blockchain</h4>
                        <p>Loren ipsum dolor sit amet consecteur, elit temporibus qui .</p>
                    </div>
                    <div class="categorie">
                        <div class="icon">
                            <em class="uil uil-airplay"></em>
                        </div>
                        <h4>Blockchain</h4>
                        <p>Loren ipsum dolor sit amet consecteur, elit temporibus qui .</p>
                    </div>
                    <div class="categorie">
                        <div class="icon">
                            <em class="uil uil-airplay"></em>
                        </div>
                        <h4>Blockchain</h4>
                        <p>Loren ipsum dolor sit amet consecteur, elit temporibus qui .</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="section-3">
            <h1>Our Popular Courses</h1>
            <div class="courses">
                <div class="course">
                    <div class="img">
                        <img src="assets/images/course1.jpg" alt="course1">
                    </div>
                    <div class="body">
                        <h3>Responisve Social Media Website UI Design</h3>
                        <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                            soluta iusto voluptates nsisi quas est !
                        </p>
                        <button class="btn btn-danger">Learn More</button>
                    </div>
                </div>
                <div class="course">
                    <div class="img">
                        <img src="assets/images/course2.jpg" alt="course2">
                    </div>
                    <div class="body">
                        <h3>Responisve Social Media Website UI Design</h3>
                        <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                            soluta iusto voluptates nsisi quas est !
                        </p>
                        <button class="btn btn-danger">Learn More</button>
                    </div>
                </div>
                <div class="course">
                    <div class="img">
                        <img src="assets/images/course3.jpg" alt="course3">
                    </div>
                    <div class="body">
                        <h3>Responisve Social Media Website UI Design</h3>
                        <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                            soluta iusto voluptates nsisi quas est !
                        </p>
                        <button class="btn btn-danger">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-4">
            <h1>Frequently Asked Questions</h1>
            <div class="questions">
                <div class="question">
                    <div class="ask-question">
                        <input type="checkbox" id="question-1" hidden >
                        <label for="question-1">How do I Know the right course for me ?</label>
                        <div class="response">
                            <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                                soluta iusto voluptates nsisi quas est !</p>
                        </div> 
                    </div>
                    
                </div>
                <div class="question">
                    <div class="ask-question">
                        <input type="checkbox" id="question-2" hidden  >
                        <label for="question-2">How do I Know the right course for me ?</label>
                        <div class="response">
                            <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                                soluta iusto voluptates nsisi quas est !</p>
                        </div> 
                    </div>
                    
                </div>
                <div class="question">
                    <div class="ask-question">
                        <input type="checkbox" id="question-3" hidden >
                        <label for="question-3">How do I Know the right course for me ?</label>
                        <div class="response">
                            <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                                soluta iusto voluptates nsisi quas est !</p>
                        </div> 
                    </div>
                    
                </div>
                <div class="question">
                    <div class="ask-question">
                        <input type="checkbox" id="question-4" hidden  >
                        <label for="question-4">How do I Know the right course for me ?</label>
                        <div class="response">
                            <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                                soluta iusto voluptates nsisi quas est !</p>
                        </div> 
                    </div>
                    
                </div>
                <div class="question">
                    <div class="ask-question">
                        <input type="checkbox" id="question-5" hidden >
                        <label for="question-5">How do I Know the right course for me ?</label>
                        <div class="response">
                            <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                                soluta iusto voluptates nsisi quas est !</p>
                        </div> 
                    </div>
                    
                </div>
                <div class="question">
                    <div class="ask-question">
                        <input type="checkbox" id="question-6" hidden  >
                        <label for="question-6">How do I Know the right course for me ?</label>
                        <div class="response">
                            <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                                soluta iusto voluptates nsisi quas est !</p>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="section-5">
            <h1>Students' Testimonials</h1>
            <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" >
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <div class="profile-photo">
                    <img src="{{ slide.img }}" alt="" width="100%">
                </div>
                <div class="info">
                    <h5>Diana Ayl</h5>
                    <p>Student</p>
                </div>
                <div class="body">
                    <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                        soluta iusto voluptates nsisi quas est !
                    </p>
                </div>
            </div>
    </ngx-slick-carousel>
        </div>
    </main>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>