<div class="container">
    <app-header></app-header>
    <main>
        <div class="info">
            <div class="photo">
                <img src="assets/images/contact.svg" alt="">
            </div>
            <h3>Contact Us</h3>
            <p>Lorem ipusm dolor sit amet conecture adipcising elit. Quae officts sapiente provident 
                soluta iusto voluptates nsisi quas est !</p>
            <p > <em class="uil uil-phone"></em>+961 78 949 270</p>
            <p><em class="uil uil-envelope-edit"></em>farhat.wissanm@outlook.com</p>
            <p><em class="uil uil-location-pin-alt"></em>Beirut, Lebanon</p>
        </div>
        <div class="section">
            
            <div class="conatact">
                <form action="">
                    <div class="name">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                    </div>
                    <input type="email" placeholder="Your email address">
                    <textarea rows="5" placeholder="write a message"></textarea>
                    <button type="submit" class="btn btn-danger">Send Message</button>
                </form>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>